div {
    border-radius: 10%;
    border: 1px solid wheat;
    background: #73AD21;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    cursor: default;
}